body {
  box-sizing: border-box;
  background: url(https://js-beginners.github.io/counter-project/img/mainBcg.jpeg);
  font-family: 'Roboto', sans-serif, 'Fira Sans', sans-serif;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: auto; */
}
.counter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.counter-wrapper__ele__item {
  font-size: 40px;
  color: #f5f5f5;
  font-weight: 400;
  margin: 0;
}
.counter-wrapper__ele {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 11px;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: rgb(0 0 0 / 90%) 0px 3.2px 8px 0px;
  min-width: 300px;
  width: 100%;
  margin: 10%;
  max-width: 800px;
  padding: 50px;
  background: #005eff2e;
}
.counter-value {
  height: auto;
  color: #333333;
  font-weight: 500;
  font-size: 160px;
  margin: auto;
}
.btn-wrapper {
  display: flex;
  gap: 20%;
  justify-content: center;
}
.btn-wrapper-ele {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background: #0d2c54;
  color: #f5f5f5;
  letter-spacing: 1px;
  box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 90%);
}

.btn-wrapper-ele:hover {
  background-color: #00a6ed;
}
